{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <p class="title">
                Bienvenue sur Question ?
            </p>
            <p class="subtitle">
                Vous pouvez lire les dernières questions dans la liste ci-dessous,
            </p>
        </div>
    </section>
    <div class="is-flex-wrap-wrap tile is-ancestor">
        {% for subject in subjects %}
            <div class="tile is-parent is-4">
                <a href="/subject/{{ subject.id }}" class="card tile is-child">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-3">{{ subject.title }}</p>
                                <p class="subtitle">{{ subject.owner.username }}</p>
                                <span class="tag is-light">{{ subject.comments|length }} réponse(s)</span>
                            </div>
                        </div>
                        <div class="content">
                            {{ subject.content|length > 140? subject.content|slice(0, 140) ~ '...' : subject.content }}
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% if is_granted('ROLE_USER') %}
        <div class="block">
            {{ form(subjectForm) }}
        </div>
    {% endif %}
{% endblock %}
