{% extends 'base.html.twig' %}

{% block title %}Hello SubjectPageController!{% endblock %}

{% block body %}
    <section class="hero is-medium is-primary mb-4">
        <div class="hero-body">
            <p class="title">
                {{ subject.title }}
            </p>
            <p class="subtitle">
                {{ subject.content }}
            </p>
        </div>
    </section>
    <div class="pl-6 mt-4">
        {% for comment in comments %}
            <article class="message block">
                <div class="message-body">
                    <p class="subtitle">{{ comment.owner.username }}</p>

                    {{ comment.content }}
                </div>
            </article>
        {% endfor %}
    </div>
    {% if is_granted('ROLE_USER') %}
        {{ form_start(commentForm) }}
        <div class="field mt-3">
            <label class="label">Ajouter un commentaire</label>
            <div class="help is-danger">{{ form_errors(commentForm.content) }}</div>
            <div class="control">
                {{ form_widget(commentForm.content, {'attr': {'class': 'textarea'}}) }}
            </div>
        </div>
        <div class="field">
            <div class="control">
                {{ form_widget(commentForm.poster, {'attr': {'class': 'button'}}) }}
            </div>
        </div>
        {{ form_end(commentForm) }}
    {% endif %}
{% endblock %}
